@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;

}

* {
  margin: 0px;
  padding: 0px;
}




/* shared style */
.co-btn {
  border-radius: 46px;

  background: rgb(230, 83, 60);

  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 20px 8px 20px;
  border: none;
}

.body-color {
  background: rgb(0, 0, 0);
}

.display {
  display: flex;
}

/* header style */
.section1 {
  max-width: 1440px;
  max-height: 715px;
  margin: 0 auto;

  background: linear-gradient(360.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
  margin-bottom: 80px;
}

/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 50px 185px;


}

.nav-titel {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
  line-height: 120%;


}

.nav-links {
  gap: 30px;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;

}

/* banner style */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 0 200px 0 180px;

}

.banner-content {
  width: 520px;
}

.banner-titel {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 30px;
}

.banner-discreption {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 30px;
}

.downlode-btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: black;
  margin-left: 15px;
}

.imgs {
  display: flex;
  justify-content: end;
}

.img1 {
  width: 349px;
}

.card1 {
  position: absolute;
  width: 165px;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  left: 1140px;
  top: 265px;
  z-index: 10;
}

.card-1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 900;
  margin: 12px 42px 5px 24px;
}

.card1-discription {

  color: rgba(255, 255, 255, 0.65);
  font-size: 10px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 24px;
}

.card2 {

  position: absolute;
  width: 170px;
  height: 75px;
  left: 860px;
  top: 575px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 10px
}

.card2-contant {
  display: flex;
  flex-direction: column;

}

.card-2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 900;
  margin: 12px 42px 5px 0px;

}

.card2-discription {

  color: rgba(255, 255, 255, 0.65);
  font-size: 10px;
  font-weight: 400;
  margin: 0px 30px 5px 0px;

}

.icon {
  /* position: absolute; */
  font-size: 40px;
  color: rgb(230, 83, 60);
  margin-left: 20px;
  margin-top: 12px;

}



/* main style */
.section2 {

  width: 1044px;
  margin: 0 auto;
}

.div-Change-Your-Habits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sce2-titel {
  width: 476px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  text-align: center;


}

.sce2-discreption {
  width: 671px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;

}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.sce2-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sce2-card img {
  width: 180px;
  border-radius: 50%;
  border: .5px solid;
  margin-left: 20px;
}

.sce2-card-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sce2-card-titel {
  width: 90px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-left: 20px;
}

.sce2-card-discription {
  width: 230px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 200;
  margin-left: 30px;
  text-align: center;

}








/* media quary */
@media screen and (max-width: 576px) {
  .navbar {
    position: relative;
    width: 100%;
    height: 40px;
    margin: auto;
    left: 20px;
    top: 45px;
  }

  .nav-links {
    display: none;
  }

  .banner {
    width: 100%;
    flex-direction: column;

  }

  .banner-content {
    flex-direction: column;
    margin: 0px;
  }

  /* .section1 {
    max-width: 393px;
    max-height: 1024px
  } */

  .card1 {
    position: static;
    width: 175px;
    height: 85px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    /* left: 1102px; */
    top: 320px;
  }

  .card2 {
    position: static;
    width: 175px;
    height: 85px;
    /* left: 800px; */
    top: 600px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
  }

}