@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;

}

* {
  margin: 0px;
  padding: 0px;
}




/* shared style */
.co-btn {
  border-radius: 46px;

  background: rgb(230, 83, 60);

  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  padding: 8px 20px 8px 20px;
  border: none;
}

.btn {
  width: 160px;
}

.body-color {
  background: rgb(0, 0, 0);
}

.display {
  display: flex;
}

/* header style */
.section1 {
  max-width: 1440px;
  max-height: 715px;
  margin: 0 auto;

  background: linear-gradient(360.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
  margin-bottom: 80px;
}

/* navbar style */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 50px 185px;


}

.nav-titel {
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
  line-height: 120%;


}

.nav-links {
  gap: 30px;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  line-height: 100%;

}

/* banner style */
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin: 0 200px 0 180px;

}

.banner-content {
  width: 520px;
}

.banner-titel {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 30px;
}

.banner-discreption {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 30px;
}

.downlode-btn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: black;
  margin-left: 15px;
}

.imgs {
  display: flex;
  justify-content: end;
}

.img1 {
  width: 349px;
}

.card1 {
  position: absolute;
  width: 165px;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  left: 1140px;
  top: 265px;
  z-index: 10;
}

.card-1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 900;
  margin: 12px 42px 5px 24px;
}

.card1-discription {

  color: rgba(255, 255, 255, 0.65);
  font-size: 10px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 24px;
}

.card2 {

  position: absolute;
  width: 170px;
  height: 75px;
  left: 860px;
  top: 575px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 10px
}

.card2-contant {
  display: flex;
  flex-direction: column;

}

.card-2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 900;
  margin: 12px 42px 5px 0px;

}

.card2-discription {

  color: rgba(255, 255, 255, 0.65);
  font-size: 10px;
  font-weight: 400;
  margin: 0px 30px 5px 0px;

}

.icon {
  /* position: absolute; */
  font-size: 40px;
  color: rgb(230, 83, 60);
  margin-left: 20px;
  margin-top: 12px;

}



/* main style */
.section2 {

  max-width: 1044px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.div-Change-Your-Habits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sce2-titel {
  width: 476px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  text-align: center;


}

.sce2-discreption {
  width: 671px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;

}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.sce2-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sce2-card img {
  width: 180px;
  border-radius: 50%;
  border: .5px solid;
  margin-left: 20px;
}

.sce2-card-div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sce2-card-titel {
  width: 90px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-left: 20px;
}

.sce2-card-discription {
  width: 230px;
  height: 36px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 200;
  margin-left: 30px;
  text-align: center;

}

.section3 {
  max-width: 1060px;
  margin: 0 auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;


}

.sec3-card {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.sec3-titel {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 12px;

}

.sec3-decreption {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 200;
  margin-bottom: 25px;
}

.section3 img {
  width: 30%;
  object-fit: cover;
  border-radius: 20px;

}

.section4 {}

.BMI-calculate {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 50px 0px 50px 150px;
  margin: 0 auto;
}

.BMI-calculater {
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BMI-LIST {

  padding: 50px;
  margin: 0 auto;

}

.BMI-LIST h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  padding: 0px 0px 20px 0px;
}

.BMI-LIST table {
  padding: 20px;

}

.BMI-LIST table,
th,
td {
  max-width: 310px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 10px;

}

.BMI-LIST table,
td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  font-weight: 200;
}

.BMI-LIST table,
th {

  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 500;
}



.BMI-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 5px;
}

.BMI-discreption {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  padding: 5px;
}

.calculator-main-div {
  max-width: 570px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

.calculate-your-BMI {
  margin-bottom: 20px;
}

.calculate-your-BMI-titel {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;

}

.calculate-your-BMI-discreption {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: 200;

}

.calculator {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  /* grid-template-rows: repeat(2,50px)50px 50px; */
  gap: 20px;
}

#box5 {
  /* grid-template-columns: repeat(2,2fr); */

  grid-column: span 2;


}

.Calculator-cell {
  width: 200px;
  height: 30px;
  border-radius: 08px;
  /* border: none; */
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}

::placeholder {
  border-radius: 08px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 300;
  padding: 12px 40px 12px 20px;

}

select {
  width: 200px;
  height: 32px;
  border-radius: 08px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  font-weight: 300;
  padding: 0 0 0 12px;

}

.calculator-button {
  margin-top: 20px;
}


.section5 {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.meet-our-team {
  width: 671px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.sec5-titel {
  width: 350px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.sec5-discreption {
  width: 650px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 55px;
  opacity: .7;
}

.team-member {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  padding: 25px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);

}

.img-continar {
  position: relative;
  display: inline-block;
}

.sec5-img {
  display: block;
  width: 280px;
  height: 230px;
  border-radius: 18px;
}

.overlap-text {
  position: absolute;
  top: 80%;
  left: 2%;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  text-align: center;
}

.over-h6 {
  font-size: 10px;
  opacity: .7;
  text-align: start;
}

.footer-section {
  max-width: 1440px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  margin-top: 60px;
}

.footer-main-div {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px;

}

.footer-fitness {
  max-width: 443px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-titel {
  color: rgb(230, 83, 60);
  font-size: 50px;
  font-weight: 800;


}

.footer-discreption {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 200;
  opacity: .7;

}

.get-started-main-div {
  max-width: 500px;
  display: flex;

}

.get-started {
  max-width: 175px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;


}

.get-start-titel {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 700;

}

.get-start-h5 {
  width: 175px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 400;

}

.footer-hr {
  max-width: 1050px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  opacity: .3;

}

.footer-copyright {
  /* width: 318px; */
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 300;
  margin: 0 auto;
  padding: 20px;

  margin-left: 590px;
}



/* media quary */
@media screen and (max-width: 576px) {
  .section1 {
    width: 100%;
    max-height: fit-content;
    margin-bottom: 0px;
  }

  .navbar {
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
  }

  .nav-links {
    display: none;
    gap: 30px;
    align-items: center;
  }

  .manu-bar {
    display: block;
  }

  .banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .banner-content {
    width: auto;
    flex-direction: column;
    margin: 0px;
    padding: 15px;
  }

  .banner-titel {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 800;
  }

  .banner-discreption {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .btn {
    width: 100%;
  }

  .hero_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgs {
    display: block;
    position: relative;
  }

  .img {
    padding: 15px;
  }

  .img1 {
    width: 100%;
  }

  .card1 {
    position: absolute;
    width: 145px;
    height: 75px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    left: 53%;
    top: 10%;
    z-index: 10;
  }

  .card2 {
    position: absolute;
    width: 145px;
    height: 75px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    left: 5%;
    top: 50%;
    gap: 10px;
  }

  .card2-contant {
    display: flex;
    flex-direction: column;
  }

  .card-2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    margin: 12px 42px 5px 0px;
  }

  .card2-discription {
    color: rgba(255, 255, 255, 0.65);
    font-size: 10px;
    font-weight: 400;
    margin: 0px 30px 5px 0px;
  }

  .sce2-titel {
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }

  .sce2-discreption {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section3 {
    max-width: 100%;
    margin: 15px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }

  .sec3-card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section3 img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .section5 {
    width: 100%;
    /* margin: auto 15px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .meet-our-team {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: auto 15px;
  }

  .sec5-titel {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
  }

  .sec5-discreption {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
    opacity: 0.7;
  }

  .team-member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin: 15px;
  }

  .img-continar {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
  }

  .sec5-img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  .footer-section {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    margin-top: 60px;
    padding: 0px;
    box-sizing: border-box;
  }

  .footer-main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .footer-fitness {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .footer-titel {
    width: 100%;
    color: rgb(230, 83, 60);
    font-size: 50px;
    font-weight: 800;
  }

  .footer-discreption {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 200;
    opacity: 0.7;
  }

  .get-started-main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 300;
    margin: 0 auto;
    padding: 15px 5px;
  }
}